name: Backend Continuous Deployment

on:
  push:
    branches:
      - main
    paths:
      - starter/backend/**

jobs:
  deploy:
    name: Build & Deploy Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push backend image
        working-directory: starter/backend
        run: |
          IMAGE_TAG=${{ github.sha }}
          docker build -t $BACKEND_ECR_REPO:$IMAGE_TAG starter/backend
          docker tag $BACKEND_ECR_REPO:$IMAGE_TAG $BACKEND_ECR_REPO:latest
          docker push $BACKEND_ECR_REPO:$IMAGE_TAG
          docker push $BACKEND_ECR_REPO:latest
        env:
          BACKEND_ECR_REPO: ${{ secrets.BACKEND_ECR_REPO }}

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --region ${{ secrets.AWS_REGION }} \
            --name ${{ secrets.EKS_CLUSTER_NAME }}

      - name: Deploy backend to EKS
        working-directory: starter/backend/k8s
        run: |
          kubectl apply -f .
